.input-field {
    color: darkgreen;
}

.input-field-username {
    color: white;
}

.input-field-password {
    color: white;
}

.dashboard {
    background: none;
}

.file {
    background: none;
}

.login {
    background: url('../img/wallpaper.jpg') center center fixed;
}

.login-div {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 50%;
    top: 50%;
    margin: -200px 0 0 -200px;
}

.permission {
    background: none;
}

.repository {
    background: none;
}

.user {
    background: none;
}

.user-group {
    background: none;
}

table {
    font-size: small;
}