.input-field {
    color: white;
}

.dashboard {
    background: none;
}

.file {
    background: none;
}

.login {
    background: url('../img/wallpaper.jpg') center center fixed;
}

.permission {
    background: none;
}

.repository {
    background: none;
}

.user {
    background: none;
}

.user-group {
    background: none;
}

table {
    font-size: small;
}