<div class="row">
    <div ng-include src="'partials/nav.html'"></div>
    <div class="row">
        <h5 class="col s12 center-align grey-text text-darken-2">Security</h5>
        <div class="col s12 m4 l4">
            <a href="#/users">
                <div class="card white z-depth-2">
                    <div class="card-content">
                        <img src="../img/user-32x32.png"/>
                        <h5 class="grey-text text-darken-2">Users</h5>
                        <p class="grey-text">Manage users</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s12 m4 l4">
            <a href="#/groups">
                <div class="card white z-depth-2">
                    <div class="card-content">
                        <img src="../img/group-32x32.png"/>
                        <h5 class="grey-text text-darken-2">Groups</h5>
                        <p class="grey-text">Manage groups of users</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s12 m4 l4">
            <a href="#/permissions">
                <div class="card white z-depth-2">
                    <div class="card-content">
                        <img src="../img/key-32x32.png"/>
                        <h5 class="grey-text text-darken-2">Permissions</h5>
                        <p class="grey-text">Manage user and group permissions</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <h5 class="col s12 center-align grey-text text-darken-2">Storage</h5>
        <div class="col s12 m4 l4">
            <a href="#/repositories">
                <div class="card white z-depth-2">
                    <div class="card-content">
                        <img src="../img/repository-32x32.png"/>
                        <h5 class="grey-text text-darken-2">Repositories</h5>
                        <p class="grey-text">Manage repositories</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s12 m4 l4">
            <a href="#/files">
                <div class="card white z-depth-2">
                    <div class="card-content">
                        <img src="../img/files-32x32.png"/>
                        <h5 class="grey-text text-darken-2">Files</h5>
                        <p class="grey-text">Manage files</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s12 m4 l4">
            <a href="#/file-sets">
                <div class="card white z-depth-2">
                    <div class="card-content">
                        <img src="../img/file-sets-32x32.png"/>
                        <h5 class="grey-text text-darken-2">File sets</h5>
                        <p class="grey-text">Manage file sets</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <h5 class="col s12 center-align grey-text text-darken-2">Computing</h5>
        <div class="col s12 m4 l4">
            <a href="#/pipelines">
                <div class="card white z-depth-2">
                    <div class="card-content">
                        <img src="../img/pipeline-32x32.png"/>
                        <h5 class="grey-text text-darken-2">Pipelines</h5>
                        <p class="grey-text">Manage analysis pipelines</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s12 m4 l4">
            <a href="#/tasks">
                <div class="card white z-depth-2">
                    <div class="card-content">
                        <img src="../img/gears-32x32.png"/>
                        <h5 class="grey-text text-darken-2">Tasks</h5>
                        <p class="grey-text">Manage and monitor compute tasks</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s12 m4 l4">
            <a href="#/results">
                <div class="card white z-depth-2">
                    <div class="card-content">
                        <img src="../img/results-32x32.png"/>
                        <h5 class="grey-text text-darken-2">Results</h5>
                        <p class="grey-text">Manage and visualize results</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
