<div class="row">
    <div ng-include src="'partials/nav.html'"></div>
    <div class="row">
        <h3 class="col s12 center-align grey-text text-darken-2">Security</h3>
        <div class="col s12 m4 l4">
            <a href="#/users">
                <div class="card white z-depth-2">
                    <div class="card-content">
                        <img src="../img/user-32x32.png"/>
                        <h5 class="grey-text text-darken-2">Users</h5>
                        <p class="grey-text">Manage users</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s12 m4 l4">
            <a href="#/user-groups">
                <div class="card white z-depth-2">
                    <div class="card-content">
                        <img src="../img/user-group-32x32.png"/>
                        <h5 class="grey-text text-darken-2">User groups</h5>
                        <p class="grey-text">Manage groups of users</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s12 m4 l4">
            <a href="#/permissions">
                <div class="card white z-depth-2">
                    <div class="card-content">
                        <img src="../img/key-32x32.png"/>
                        <h5 class="grey-text text-darken-2">Permissions</h5>
                        <p class="grey-text">Manage user and group permissions</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!--<div class="row">-->
        <!--<h3 class="col s12 center-align grey-text text-darken-2">Data</h3>-->
        <!--<div class="col s12 m4 l4">-->
            <!--<a href="#/labs">-->
                <!--<div class="card white z-depth-2">-->
                    <!--<div class="card-content">-->
                        <!--<img src="../img/lab-32x32.jpeg"/>-->
                        <!--<h5 class="grey-text text-darken-2">Labs</h5>-->
                        <!--<p class="grey-text">Manage labs</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="col s12 m4 l4">-->
            <!--<a href="#/projects">-->
                <!--<div class="card white z-depth-2">-->
                    <!--<div class="card-content">-->
                        <!--<img src="../img/project-32x32.png"/>-->
                        <!--<h5 class="grey-text text-darken-2">Projects</h5>-->
                        <!--<p class="grey-text">Manage projects</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="col s12 m4 l4">-->
            <!--<a href="#/files">-->
                <!--<div class="card white z-depth-2">-->
                    <!--<div class="card-content">-->
                        <!--<img src="../img/files-32x32.png"/>-->
                        <!--<h5 class="grey-text text-darken-2">Files</h5>-->
                        <!--<p class="grey-text">Manage files and participant information</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<h3 class="col s12 center-align grey-text text-darken-2">Analysis</h3>-->
        <!--<div class="col s12 m4 l4">-->
            <!--<a href="#/pipelines">-->
                <!--<div class="card white z-depth-2">-->
                    <!--<div class="card-content">-->
                        <!--<img src="../img/pipeline-32x32.png"/>-->
                        <!--<h5 class="grey-text text-darken-2">Pipelines</h5>-->
                        <!--<p class="grey-text">Manage analysis pipelines</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="col s12 m4 l4">-->
            <!--<a href="#/jobs">-->
                <!--<div class="card white z-depth-2">-->
                    <!--<div class="card-content">-->
                        <!--<img src="../img/gears-32x32.png"/>-->
                        <!--<h5 class="grey-text text-darken-2">Jobs</h5>-->
                        <!--<p class="grey-text">Manage and monitor jobs</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="col s12 m4 l4">-->
            <!--<a href="#/jobs">-->
                <!--<div class="card white z-depth-2">-->
                    <!--<div class="card-content">-->
                        <!--<img src="../img/results-32x32.png"/>-->
                        <!--<h5 class="grey-text text-darken-2">Results</h5>-->
                        <!--<p class="grey-text">Manage and visualize results</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
</div>
